<?xml version="1.0"?>
<ruleset name="CakePHP Upgrade">
    <config name="installed_paths" value="../../cakephp/cakephp-codesniffer" />

    <rule ref="CakePHP" />

    <!--
        Disable manually until rector is upgrade to nikic/php-parser 5.0
        This is downgrading to cakephp-codesniffer 4.0.0-beta3 intead of 4.0
    -->
    <rule ref="PSR12.Files.FileHeader.SpacingAfterBlock">
        <severity>0</severity>
    </rule>
    <rule ref="PSR12.Files.FileHeader.IncorrectOrder">
        <severity>0</severity>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.IncorrectWhitespaceAfterDeclare">
        <severity>0</severity>
    </rule>
</ruleset>
