<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./tests/bootstrap.php"
	>

	<testsuites>
		<testsuite name="Upgrade Test Cases">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

    <extensions>
        <extension class="Cake\Upgrade\Test\PHPUnitExtension"/>
    </extensions>
</phpunit>
